@font-face {
  font-family: "Averta";
  src: url("./assets/fonts/Averta.woff") format("woff");
}
@font-face {
  font-family: "Averta-Bold";
  src: url("./assets/fonts/Averta-Bold.woff") format("woff");
}
@font-face {
  font-family: "Averta-Semibold";
  src: url("./assets/fonts/Averta-Semibold.woff") format("woff");
}

$primary: #0263c5;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #f4f5f9;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-size: 16px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
    font-size: 16px !important;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
    font-size: 16px !important;
  }
}

:-internal-autofill-previewed {
  font-size: 22px !important;
}

* {
  box-sizing: border-box;
  font-family: "Averta";
}

body {
  font-family: "Averta";
  margin: 0;
  background: #fafafa;
}

h1 {
  font-family: "Averta-Bold", sans-serif !important;
}

h2 {
  font-family: "Averta-Semibold", sans-serif !important;
}

.login_overlay {
  height: 100%;
  position: absolute;
  background: rgb(250, 251, 252);
  width: 100%;
  background-image: url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.117/static/media/bitbucket_left.eb81704e.svg),
    url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.117/static/media/bitbucket_right.108e5ce3.svg);
  background-attachment: fixed, fixed;
  background-size: 368px, 368px;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
}

.login_container {
  border-radius: 2px;
  background-color: #fff;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.1);
  h2 {
    margin: 0;
    margin-bottom: 20px;
  }
}

.button {
  padding: 0px 30px;
  height: 40px;
  min-width: 150px;
  background: $primary;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-family: "Averta-Semibold";
  border: none;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background: darken($primary, 10%);
  }
  &:focus {
    outline: none;
  }
}

.input {
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0px;
  border: 0;
  border-bottom: 2px solid #f4f5f9;
  &:focus {
    outline: none;
    border-bottom: 2px solid $primary;
  }
}

.signup_link {
  margin-top: 30px;
  a {
    text-decoration: none;
    color: $primary;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  height: 100vh;
  background-image: linear-gradient(45deg, #fafafa 0%, #eff1f9 100%);
}

.sidebar_logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  font-family: "Averta-Bold";
  color: #161a1f;
}

.sidebar_items {
  margin: 0;
  padding: 0px;
  list-style: none;
  padding-left: 40px;
  margin-top: 50px;
  li {
    a {
      text-decoration: none;
      align-items: center;
      display: flex;
      padding-top: 20px;
      font-size: 14px;
      color: #556577;
      opacity: 0.6;
      cursor: pointer;
      > div:first-child {
        margin-right: 12px;
      }
      &:hover {
        opacity: 1;
        font-family: "Averta-Semibold";
        color: #161a1f;
      }
    }
  }
  .activeLink {
    a {
      opacity: 1;
      font-family: "Averta-Semibold";
      color: #161a1f;
    }
  }
}

.main_container {
  padding: 30px;
}

.placeholder {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.header_action {
  display: flex;
  align-items: center;
  button {
    background: transparent;
    background: $primary;
    color: #fff;
    padding: 0px 20px;
    height: 40px;
    border-radius: 3px;
    margin-left: 15px;
    font-size: 16px;
    font-family: "Averta-Semibold";
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.progress_bar {
  margin-top: -40px;
  margin-right: -30px;
  margin-left: -30px;
  margin-bottom: 40px;
  border-radius: 2px;
}

.dashboard_container {
  margin-top: 40px;
}

.user_card {
  padding: 15px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #f4f5f9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    border: 1px solid $primary;
  }
  p {
    margin-top: 15px;
    font-size: 18px;
  }
  a {
    font-size: 11px;
    color: $primary;
    text-decoration: none;
  }
}
